/* All Anchor Items */
#menu a { display: block; }


/* All Unordered Lists */
#menu ul { 
	padding:    0px;
	margin:     0px;
	list-style: none;
}

/* All Sub Menu Items */
#topMenu li ul { 
	position: absolute; 
	left: -999em;
}

#topMenu li:hover ul, #topMenu li.showMenu ul { left: auto; }


/* Menu Customization */
#menu {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 42px;
	line-height: 30px;
	margin: auto;
	width: 950px;
}

#menu li { float: left; margin-right:20px; }

#topMenu a { 
	
	text-decoration: none;
	width:auto;
	padding:10px  20px;
}

.topMenuLink a {
	color: #fff;
	font-weight: Normal;
	text-align: center;
	padding-left:15px;
}

.topMenuLink a:hover {
	color: #ffffff;
	background-color: #1a1e2a;
}

.topMenuLink a#lastMenu { 
	
	width: auto;
	padding:10px 20px;
}

.subMenu {
	background-color: #ccc;
	font-size:13px;
	width: 230px;
}

.subMenu a {
	color: #000000;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-top: -1px;
	text-align:left;
}

.subMenu a:hover {
	background-color: #000000;
	color: #fff;
}

.subMenu#last { width: 270px; z-index:999999; }

.subMenu#last a { width: 230px; }

